.aboutContainer {
  margin-top: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin-left: 4%;
  margin-right: 4%;
}

.socialMedia {
  display: flex;
  flex-flow: column nowrap;
}
