.avatarContainer {
  background-image: url("../../assets/images/about/avatar.png");
  width: 175px;
  height: 175px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}
