.bibliographyEntryContainer .verticalContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.bibliographyEntryContainer .horizontalContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}