.hljs {
  font-size: 14px;
  background: #00000000;
  color: #ffffffD9;
  padding-top: 25px;
}

.hljs-meta {
  color: #c0c0c0;
}

.hljs-comment,
.hljs-quote {
  color: #6C7986;
}

.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #FF79B3;
}

.hljs-variable,
.hljs-template-variable {
  color: #ffffffd9;
}

.hljs-code,
.hljs-string,
.hljs-meta .hljs-string {
  color: #FF8170;
}

.hljs-regexp,
.hljs-link {
  color: #6BDEFF;
}

.hljs-title,
.hljs-symbol,
.hljs-bullet {
  color: #6BDEFF;
}

.hljs-number {
  color: #D9C97C;
}

.hljs-section,
.hljs-meta {
  color: #DAB9FF;
}

.hljs-title.function_ {
  color: #6DDEFF;
}

.hljs-class .hljs-title,
.hljs-built_in,
.hljs-params {
  color: #6DDEFF;
}

.hljs-type {
  color: #DABBFF;
}

.hljs-attr {
  color: #DABAFF;
}

.hljs-subst {
  color: #fff;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}