.navBar {
  padding-top: 60px;
  width: 96%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.navBar .navLinks {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.navBar__link {
  color: #aaa;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.navBar__link:not(:first-child) {
  margin-left: 20px;
}

.navBar__link:hover {
  color: white;
}

.navBar__link--active {
  color: white;
}
