.publicationsContainer {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 4%;
  max-width: 1024px;
}

.publicationsContainer > h2:not(:first-child) {
  margin-top: 40px;
}
