.PublicationItem-module__tpVj1q__publicationItemContainer{color:#d9d9d9;line-height:24px}.PublicationItem-module__tpVj1q__publicationItemContainer:not(:last-child){margin-bottom:40px}
.Publications-module__PseNeW__publicationsContainer{flex-flow:column;width:100%;max-width:800px;display:flex}
